<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!--
Этот файл - общий макет для всех страниц, которые генерирует сайт

<процент процент> - исполняет код внутри
<процент_равно  процент> - вставляет результат в шаблон
<процент_равно уield(двоеточие titlе) процент> - встроить значение переменной title 

stylesheet_link_tag, javascript_include_tag - подключение стилей и скриптов
-->