<% # Этот файл - общий макет для всех страниц, которые генерирует сайт %>
<!DOCTYPE html>
<html>
  <head>
  	<% # встроить значение переменной title %>
    <title><%= full_title(yield(:title)) %></title>
    
    <% # вставляет результат в шаблон. Без "=" - исполняет код внутри %>
    <%= csrf_meta_tags %>
	
	<% # подключение стилей и скриптов %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <% # флеш сообщения здесь %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  		<% # соотв. методом рендорим частичный шаблон, находящийся 
  		   # в layouts/_header.html.erb . "_" - соглашение для частичных шаблонов %>
		<%= render 'layouts/header' %>

		<% # вставить содержание каждой отдельной страницы в содержимое %>
    	<%= yield %>

		<%= render 'layouts/footer' %>
    <% #инфо о странице . метод debug, параметры params  %>
    <%= debug(params) if Rails.env.development? %>
	</div>
  </body>
</html>
